<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../../javascripts/raphael-2.1.4.min.js"></script>
    <script src="../../javascripts/justgage.js"></script>
    <script src="../../javascripts/moment.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>

      <input type="date" name="datequit" id="datequit" />
      <input type="time" name="timequit" id="timequit" />
    </div>
    <div>
    <% for(var i=0; i < benefits.length; i++) { %>
            <div id="<%= i +"gage"  %>" class="gage"> </div>
            <script>
                new JustGage({
                  id: "<%= i %>" + "gage",
                  value: 50,
                  min: <%= benefits[i].start %>,
                  max: <%= benefits[i].end %>,
                  title: "<%= benefits[i].name %>"
                });
            </script>
      <% } %>
    </div>
  </body>
</html>
